<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="./main.css">
	<title>The webpack test</title>
</head>

<body>
	<div class="page">
		<header class="header page__header">
			<div class="container-fluid">
				<div class="header__logo">
					<!-- partial - logo -->
					<div class="logo">
						<div class="logo_img">
							<img src="../images/logo.png"> </div>
						<div class="logo__text">
							<p>page-sample</p>
						</div>
					</div>
					<!-- partial - logo -->
				</div>
			</div>
		</header>
		<!-- BEGIN content -->
		<main class="main">
			<!-- start page content -->
			<div class="main__page">
				<section class="sample-section container-fluid" style="margin-bottom: 160px;">
					<div class="section-header">
						<h1>React</h1>
					</div>
					<div class="grid-sample-container">
						<div class="row">
							<div class="col-xs-12">
								<div id="app"></div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!-- end page content -->
		</main>
		<!-- END content -->
		<footer class="footer page__footer">
			<div class="temporary-block container-fluid" style="font-size: 22px; color: #888"> This build was created by
				<a href="mailto:newyorrker@gmail.com">newyorrker</a> under inspiration of
				<a href="https://twitter.com/akella">akella's</a>
				<a href="https://www.npmjs.com/package/generator-man" target="_blank">generator-man</a>
			</div>
		</footer>
	</div>
</body>
</html>