{% extends "./src/templates/layouts/layout.html" %}

{% block content %}

		<!-- start page content -->
		<div class="main__page">
			<section class="sample-section container-fluid" style="margin-bottom: 160px;">
				<div class="section-header">
					<h1>React</h1>
				</div>
				<div class="grid-sample-container">
					<div class="row">
						<div class="col-xs-12">
							<div id="app"></div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<!-- end page content -->

{% endblock %}
